%h1 Groups
%table#groups
  %thead
    %tr
      %th Title
      %th Description
  %tbody
    - @groups.each do |group|
      %tr
        %td= group.title
        %td= group.description
        %td= link_to 'Add a group', new_group_path