%h1 All Users

.row
  .col-xs-2 First Name
  .col-xs-2 Last Name
  .col-xs-2 Email
  .col-xs-2 Password
  .col-xs-2 Status
  .col-xs-2 Graduation Date
  
- @users.each do |user|  
.row 
  .col-xs-2 user.first_name
  
  